<!--prueba tutorial https://www.turnwall.com/articles/building-a-css-dropdown-menu/ -->
<!--nav>
  <ul>
      <li><a routerLink="/usuario">Usuario</a></li>
      <li><a href="#">nav ul li a</a></li>
      <li><a href="#">nav ul li a</a></li>
  </ul>
</nav-->
<nav class="site-navigation">
  <ul class="menu">
  <li><a routerLink="/usuarios" role="button" routerLinkActive="active">Usuario</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="#">Services</a>
    <ul>
      <li><a routerLink="/usuarios" role="button" routerLinkActive="active">Usuarios</a></li>
      <li><a routerLink="anadir" role="button" routerLinkActive="active">Agregar Usuario</a></li>
      <li><a href="#">Branding</a></li>
    </ul>
  </li>
 </ul>
</nav>