<p>
  heroes trabajando!
</p>
<!--<h1>{{nombreHeroe}}</h1> -->
<p>{{heroe.nombre | uppercase}} Detalle</p>
<div><p><span>id: </span>{{heroe.id}}</p></div>
<div><p><span>apellido: </span>{{heroe.apellido}}</p></div>
<div><p><span>poder: </span>{{heroe.poder}}</p></div>

<div>
  <label>poder:
    <input [(ngModel)]="heroe.poder" placeholder="poder">
  </label>
</div>

<h2>Mis Heroes</h2>
<ul class="heroes">
  <li *ngFor="let var of heroes">
    <span class="badge">{{var.id}}</span> {{var.nombre}}
  </li>
</ul>
