<div style="text-align: center;">
  <h1>{{latitude}},{{longitude}}</h1>
</div>

<mat-card class="example-card">
  <mat-card-header style="display: unset;">
    <mat-card-subtitle> 
    		18/05/2022, 18:22 <span style="float: right; text-align: right;"> $100.00 </span>    		    	
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Pos. 1 	Time. 1:34:24.258	<span style="float: right; text-align: right;"> Pts. 32</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button style="float: right;">
    	<mat-icon aria-label="descripcion">arrow_right</mat-icon>
    </button>
    <br>
  </mat-card-actions>
</mat-card>
